<h1>Question#answer</h1>

<div class="question">
  <%= link_to "Go back to the question", ask_path %>
  <p>Here's the question: <%= params[:question] %></p>
</div>

<div class="answer">
  <p>Here is the coach's answer: <%= @response %></p>
</div>
