<h1>Question#ask</h1>

<div class="container">
  <div class="question">
    <form action="/answer" method="get">
      <div class="form-group">
        <label for="question"> Put your question here</label>
        <input type="text" placeholder="Your question" name="question" class="form-control">
      </div>
      <!-- <input type="submit" value="Submit, Yo!"> -->
      <button type="submit" class="btn btn-primary">Submit, Yo!</button>
    </form>
  </div>
</div>
